* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

:root {
  /* Font Weights */
  --font-w-400: 400;
  --font-w-600: 600;
  --font-w-700: 700;

  /* Colors */
  --red: hsl(14, 86%, 42%);
  --red-hover: hsl(14, 86%, 32%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

body {
  background: var(--rose-100);
}

/* Utility Classes */
.spacing {
  margin: 100px 0;
}

.container {
  position: relative;
  min-height: 100vh;
}

.padding {
  padding: 20px 100px;
}

.top {
  margin-top: auto;
}

.btn {
  cursor: pointer;
  border: 1px solid var(--red);
  border-radius: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: var(--font-w-600);
  background: var(--red);
  color: var(--rose-50);
}

.btn:hover {
  background: var(--red-hover);
  color: var(--rose-50);
}

input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--red);
  padding: 5px;
  font-size: 14px;
}

.img-size {
  width: 50%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: var(--red);
  font-weight: var(--font-w-600);
  font-size: 20px;
}

li a:hover {
  color: var(--red-hover);
}

h1 {
  color: var(--rose-900);
}

/* Components */

/* Nav Component */

.nav-container {
  background: var(--rose-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 40px;
}

/* Hero Component */

.productHP-container,
.signupHP-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.img-diner,
.img-cake {
  width: 50%;
  border-radius: 10px;
}

.productHP-content,
.signupHP-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-btn {
  width: 20%;
}

/* Footer Component */

.footer-container {
  background: var(--rose-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social {
  color: var(--rose-900);
  width: 25px;
  height: 25px;
}

.social:hover {
  color: var(--red);
}

/* Login Component */

.login-container,
.signup-container {
  margin: auto;
  border-radius: 5px;
  background: var(--rose-50);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form,
.signup-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.btn-login {
  border-radius: 10px;
}

.need-account,
.have-account {
  display: flex;
  gap: 10px;
}

.signup-link,
.login-link {
  color: var(--red);
}

.signup-link:hover,
.login-link:hover {
  color: var(--red-hover);
}

/* Pages */

/* Login Page */

.login-page,
.signup-page,
.shop-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
